@font-face {
  font-family: 'number-1';
  src: url('../font/AkzidenzGrotesk-BoldCond.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}
header {
  overflow: hidden;
}
header .head {
  position: relative;
}
header img {
  height: 77.8rem;
  width: 75rem;
}
header .BP {
  position: relative;
}
header .BP img {
  width: 3.21rem;
  position: absolute;
  right: 25%;
  top: -0.51rem;
  z-index: 999;
}
header .row {
  margin-bottom: 55px;
}
header .row > .jfc {
  margin: 0 auto;
  background-color: #5021a6;
  width: 6rem;
  height: 4.07rem;
  border-radius: 12px;
}
header .row > .jfc .number span {
  font-family: 'number-1';
}
header .row > .jfc img {
  position: relative;
}
header .row > .jfc > p {
  padding-top: 0.55rem;
  color: #fff;
  font-size: 0.24rem;
  text-align: center;
}
header .row > .jfc ul {
  position: absolute;
  top: 1.45rem;
  float: left;
  display: flex;
}
header .row > .jfc ul li:nth-child(1) {
  margin-left: .45rem;
}
header .row > .jfc ul li {
  text-align: center;
  width: .57rem;
  border: 1px solid #ff00d2;
  margin-left: .1rem;
  border-radius: 12px;
  background-color: #fff;
  font-size: .7rem;
  font-family: Akzidenz;
  color: #c000ff;
}
header .row > .gz-info {
  margin: 0 auto;
  background-color: #5021a6;
  width: 6rem;
  border-radius: 12px;
}
header .row > .gz-info p:nth-child(1) {
  padding-top: 0.55rem;
}
header .row > .gz-info p:last-child {
  padding-bottom: 0.55rem;
}
header .row > .gz-info > p {
  color: #fff;
  font-size: 0.24rem;
}
header .row > .bwx-info {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 6rem;
  border-radius: 12px;
}
header .row > .bwx-info > img {
  padding-top: .25rem;
}
header .row > .bwx-info > p {
  position: absolute;
  bottom: 0.3rem;
  color: #af28ff;
  font-size: 0.24rem;
}
header .phb-list {
  width: 6rem;
  background-color: #5021a6;
  margin: 0 auto;
  border-radius: 12px;
}
header .phb-list .nav-tabs li:nth-child(1) a {
  text-align: center;
  padding: 0;
  background-color: #5021A6;
  border: 0.03rem solid #c000ff;
  width: 1.84rem;
  height: 0.52rem;
  line-height: 0.45rem;
  padding-left: 0.2rem;
  color: #fff;
  border-radius: 0.28rem 0  0 0.28rem;
}
header .phb-list .nav-tabs li:nth-child(2) a {
  color: #c000ff;
  text-align: center;
  background-color: #5021A6;
  border-radius: 0 0.28rem 0.28rem 0;
  width: 1.84rem;
  height: 0.52rem;
  border: 0.03rem solid #c000ff;
  line-height: 0.45rem;
  padding: 0;
}
header .phb-list .nav-tabs li a {
  margin-right: 0;
}
header .phb-list .nav-tabs li.active a:hover {
  margin: 0;
  color: #fff;
  background-color: #c000ff;
  border: 0.03rem solid #c000ff;
  border-bottom-color: transparent;
  width: 1.84rem;
  height: 0.52rem;
  line-height: 0.45rem;
}
header .phb-list .tab-content {
  padding-top: 0.45rem;
}
header .phb-list .box {
  position: relative;
}
header .phb-list .box span:nth-child(1) {
  margin-left: .35rem;
  margin-top: 25px;
  text-align: center;
  background-color: #BF00FF;
  display: inline-block;
  width: 0.35rem;
  height: 0.35rem;
  border-radius: 34px;
  line-height: 0.35rem;
  color: #fff;
}
header .phb-list .box span:nth-child(2) img:nth-child(1) {
  margin-left: 0.4rem;
  display: inline-block;
  width: 0.84rem;
  height: 0.84rem;
  border-radius: 0.42rem;
  border: 0.02rem solid #BF00FF;
}
header .phb-list .box span:nth-child(2) img:nth-child(2) {
  left: 1.7rem;
  position: relative;
  width: .3rem;
  height: 0.25rem;
  top: -0.95rem;
}
header .phb-list .box span:nth-child(3) {
  position: absolute;
  top: .52rem;
  left: 2.35rem;
  font-size: .24rem;
  color: #fff;
}
header .phb-list .box span:nth-child(4) {
  position: absolute;
  top: .52rem;
  left: 4.85rem;
  font-size: .24rem;
  color: #fff;
}
header .phb-list .paim {
  background-color: #7327C9;
  height: .55rem;
}
header .phb-list .paim span:nth-child(1) {
  padding-left: .25rem;
}
header .phb-list .paim span:nth-child(2) {
  padding-left: .5rem;
}
header .phb-list .paim span:nth-child(3) {
  padding-left: 1rem;
}
header .phb-list .paim span:nth-child(4) {
  padding-left: 1rem;
}
header .phb-list .paim span {
  color: #fff;
  font-size: .26rem;
  line-height: .55rem;
}
header .phb-list .nav-tabs {
  border-bottom: 0;
  padding-top: .5rem;
  padding-left: 1.25rem;
}
header .phb-list #profile {
  position: relative;
  text-align: center;
}
header .phb-list #profile img:nth-child(1) {
  margin: 0 auto;
  width: 1.5rem;
  border-radius: 64px;
  border: 0.02rem solid #BF00FF;
  display: inline-block;
}
header .phb-list #profile img:nth-child(2) {
  position: absolute;
  width: .61rem;
  top: -0.25rem;
  left: 3.2rem;
}
header .phb-list #profile p {
  color: #fff;
  margin: 0;
  font-size: .3rem;
}
header .phb-list #profile span {
  color: #fc8735;
  font-size: .28rem;
}
header .phb-list #profile .last {
  margin: 0 auto;
  width: 3rem;
  padding-top: 10px;
  padding-bottom: 10px ;
}
header .phb-list .more {
  margin-top: 0.6rem;
  height: .85rem;
  text-align: center;
  line-height: .85rem;
  color: #fff;
  background-color: #7327c9;
  border-radius: 0  0 0.12rem 0.12rem;
  margin-bottom: 0;
}
header .info {
  margin: 0 auto;
  width: 6rem;
  color: #fff;
  text-align: center;
  font-size: 0.24rem;
  padding-top: 0.15rem;
  padding-bottom: 0.3rem;
}
header .footer {
  position: relative;
  overflow: hidden;
  height: 1.41rem;
  background-color: #7327C9;
}
header .footer img {
  position: absolute;
  top: 15%;
  margin-left: .4rem;
  line-height: 1.41rem;
  width: 1.06rem;
  border-radius: 64px;
  border: 0.02rem solid #BF00FF;
}
header .footer p {
  margin-left: 1.82rem;
  line-height: 1.41rem;
  font-size: .3rem;
  color: #fff;
}
