@font-face {
  font-family: 'number-font';
  src: url('../font/Helvetica LT 97 Black Condensed.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
}
i {
  padding-right: 0.03rem;
  padding-left: 0.03rem;
}
body {
  background-color: #8b07d9;
}
header {
  overflow: hidden;
}
header .head {
  position: relative;
}
header img {
  height: 77.8rem;
  width: 75rem;
}
header .time {
  font-size: 0.32rem;
  font-weight: 400;
  color: #fff;
  position: absolute;
  bottom: 0.95rem;
  left: 0.9rem;
}
header .BP {
  position: relative;
}
header .BP img {
  width: 3.21rem;
  position: absolute;
  right: 1.65rem;
  top: -0.4rem;
  z-index: 999;
}
header .row {
  margin-bottom: 55px;
}
header .row > .jfc {
  margin: 0 auto;
  background-color: #fff;
  width: 6rem;
  height: 4.07rem;
  border-radius: 12px;
}
header .row > .jfc > span {
  letter-spacing: 0.05rem;
  font-family: number-font;
  padding-top: 0.75rem;
  padding-bottom: 0.45rem;
  display: block;
  text-align: center;
  font-size: 0.8rem;
  color: #ff18f7;
  font-weight: 700;
}
header .row > .jfc > p {
  color: #af28ff;
  font-size: 0.24rem;
  text-align: center;
}
header .row > .gz-info {
  margin: 0 auto;
  background-color: #fff;
  width: 6rem;
  border-radius: 12px;
}
header .row > .gz-info p:nth-child(1) {
  padding-top: 0.55rem;
}
header .row > .gz-info p:last-child {
  padding-top: 0.3rem;
  padding-bottom: 0.55rem;
}
header .row > .gz-info > p {
  color: #af28ff;
  font-size: 0.24rem;
}
header .row > .bwx-info {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 6rem;
  border-radius: 12px;
}
header .row > .bwx-info > img {
  padding-top: .25rem;
  padding-bottom: 0.4rem;
}
header .row > .bwx-info > p {
  position: absolute;
  bottom: 0.3rem;
  color: #af28ff;
  font-size: 0.24rem;
}
header .phb-list {
  width: 6rem;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 12px;
}
header .phb-list .first {
  padding-top: 0.55rem;
  margin: 0 auto;
  position: relative;
  /* span{
        padding-left: 1.85rem;
        font-size: 0.24rem;
        color: #af28ff;
        display: table;
        table-layout: fixed;


      }
      span:nth-child(even) {
        padding-left: 1.85rem;
        display: table;
        table-layout: fixed;
        !*padding-top: 0.3rem;*!
      }*/
}
header .phb-list .first .first-one {
  margin-left: 2.1rem;
  display: inline-block;
  text-align: center;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
header .phb-list .first .first-one span {
  font-size: 0.24rem;
  color: #af28ff;
  display: table;
}
header .phb-list .first .first-one span:nth-child(2) {
  display: flex;
}
header .phb-list .first img:nth-child(1) {
  background-color: #f0f0f0;
  width: 1.28rem;
  height: 1.28rem;
  margin: 0 auto;
  border-radius: 64px;
  position: relative;
  z-index: 5;
}
header .phb-list .first img:nth-child(2) {
  position: absolute;
  top: 1.5rem;
  width: 1.1rem;
  left: 2.45rem;
  z-index: 10;
}
header .phb-list .first img:nth-child(3) {
  position: absolute;
  width: 2.3rem;
  top: 1.25rem;
  left: 1.85rem;
}
header .phb-list .first p {
  color: #A7A7A7;
  text-align: center;
  padding-top: 0.26rem;
  padding-bottom: 0.26rem;
}
header .phb-list .list {
  position: relative;
  width: 6rem;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 12px;
  /*span:nth-child(even) {
        display: table;
        table-layout: fixed;
        padding-top: 0.3rem;
      }*/
}
header .phb-list .list i {
  width: 10px;
}
header .phb-list .list > .left {
  width: 2.6rem;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-left: 0.2rem;
}
header .phb-list .list > .left p {
  margin: 0;
  padding: 0;
  color: #A7A7A7;
  text-align: center;
  margin-top: 0.6rem;
}
header .phb-list .list > .left img:nth-child(1) {
  margin: 0 auto;
  width: 1.28rem;
  border-radius: 64px;
  border: 0.02rem solid #fe2ee0;
  position: relative;
  z-index: 5;
}
header .phb-list .list > .left img:nth-child(2) {
  position: absolute;
  top: 1rem;
  left: 0.76rem;
  width: 1.05rem;
  z-index: 10;
}
header .phb-list .list > .left img:nth-child(3) {
  position: absolute;
  top: 0.8rem;
  left: 0.29rem;
  width: 1.95rem;
  height: 0.45rem;
}
header .phb-list .list > .right {
  width: 2.6rem;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-left: 0.5rem;
}
header .phb-list .list > .right p {
  margin: 0;
  padding: 0;
  color: #A7A7A7;
  text-align: center;
  margin-top: 0.665rem;
}
header .phb-list .list > .right img:nth-child(1) {
  margin: 0  auto;
  width: 1.28rem;
  border-radius: 64px;
  border: 0.02rem solid #fe2ee0;
  position: relative;
  z-index: 5;
}
header .phb-list .list > .right img:nth-child(2) {
  position: absolute;
  top: 1rem;
  left: 0.76rem;
  width: 1.05rem;
  z-index: 10;
}
header .phb-list .list > .right img:nth-child(3) {
  position: absolute;
  top: 0.8rem;
  left: 0.29rem;
  width: 1.95rem;
  height: 0.45rem;
}
header .phb-list .list span {
  display: flex;
  font-size: 0.24rem;
  color: #af28ff;
}
header .phb-list .list-end {
  padding-top: 0.4rem;
  width: 6rem;
  background-color: #fff;
}
header .phb-list .list-end .yuan {
  width: 0.9rem;
  height: 0.36rem;
  margin-left: 0.24rem;
}
header .phb-list .list-end .number {
  background-color: #fff0ec;
  height: 1.05rem;
  line-height: 1.05rem;
  position: relative;
}
header .phb-list .list-end .number .number-img {
  line-height: 1.05rem;
  position: absolute;
  border-radius: 64px;
  border: 0.02rem solid #fe2ee0;
  height: 0.74rem;
  width: 0.74rem;
  top: 16%;
  left: 0.7rem;
}
header .phb-list .list-end .number .span-one {
  top: 2%;
  position: absolute;
  font-size: .3rem;
  color: #fff;
  left: 0.45rem;
}
header .phb-list .list-end .number .name {
  padding-left: 0.4rem;
}
header .phb-list .list-end .number .number-jf {
  padding-left: 0.3rem;
}
header .phb-list .list-end .number span {
  font-size: 0.24rem;
  color: #af28ff;
  line-height: 1.05rem;
}
header .phb-list .list-end .two {
  background-color: #ffffff;
}
header .phb-list .list-end .three {
  background-color: #fff8e4;
}
header .phb-list .more {
  width: 3rem;
  margin: 0 auto;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
}
header .info {
  width: 6rem;
  color: #fff;
  margin: 0 auto;
  font-size: 0.24rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
