body {
  background-color: #2c033e;
}
header .head-img {
  width: 100%;
}
.bg-img {
  position: absolute;
  top: 4.04rem;
  left: 0.4rem;
}
.bg-img img {
  display: block;
  margin: 0 auto;
  width: 6.65rem;
  height: 5.76rem;
  position: relative;
}
.bg-img .img-two {
  position: relative;
  top: -5.765rem;
}
.bg-img .shan {
  display: none;
}
#lottery {
  position: absolute;
  top: 4.6rem;
  left: 0.975rem;
}
#lottery .btn {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
}
#lottery table {
  margin: 0 auto;
}
#lottery table tr td {
  position: relative;
  height: 100%;
  text-align: center;
  color: #333;
  font-index: -999;
}
#lottery table tr td .black {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: -2px;
  background-color: #000;
  opacity: 0.15;
  border-radius: 14px;
  display: block;
}
#lottery table tr td .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: -3px;
  border: 0.07rem solid #fff225;
  border-radius: 14px;
  display: none;
}
#lottery table tr td.active .black {
  display: none;
}
#lottery table tr td.active .mask {
  display: block;
}
#lottery table tr td img {
  display: block;
  width: 1.84rem;
  height: 1.44rem;
}
.lottery-font {
  position: absolute;
  top: 9.1rem;
  left: 2.4rem;
}
.lottery-font span {
  font-size: .3rem;
  color: #fff;
}
.lottery-font .lottery-number {
  display: inline-block;
  padding: 0 0.08rem;
  font-size: .42rem;
  color: #ffe930;
}
.share-list {
  position: absolute;
  top: 10.1rem;
  left: 0.5rem;
}
.share-list div {
  font-size: 0.26rem;
  color: #fff;
}
.share-list div span {
  color: #fbc93f;
  font-size: 0.26rem;
}
.share-list div:nth-child(1) {
  padding-bottom: .17rem;
}
.news {
  width: 100%;
  position: absolute;
  top: 11.5rem;
}
.news .fl {
  margin-left: 0.44rem;
}
.news .fl img {
  display: inline-block;
  width: 0.39rem;
  height: 0.31rem;
}
.news .news-info {
  display: inline-block;
  margin-left: 0.08rem;
  color: #c256ec;
  font-size: 0.24rem;
}
.news .news-info .maquee {
  display: inline-block;
  overflow: hidden;
}
.news .news-info ul {
  display: inline-block;
  position: relative;
  /*      top:-17px;
            left: 70px;*/
  height: 17px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  vertical-align: bottom;
}
.news .fr {
  margin-right: 0.4rem;
  font-size: 0.24rem;
}
.news .fr a {
  color: #dca8f0;
  text-decoration: underline !important;
}
.rule {
  width: 100%;
  position: absolute;
  top: 12.4rem;
  margin-bottom: 0.5rem;
}
.rule .rule-head {
  color: #c256ec;
  text-align: center;
}
.rule .rule-head .line {
  display: inline-block;
}
.rule .rule-head .rule-name {
  color: #c256ec;
  font-size: 0.3rem;
  margin: 0 0.36rem;
}
.rule .rule-all {
  margin: 0 auto;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-top: 0.29rem;
}
.rule .rule-all p {
  font-size: 0.24rem;
  color: #c023ec;
}
#overlay {
  background: #000;
  filter: alpha(opacity=50);
  /* IE的透明度 */
  opacity: 0.8;
  /* 透明度 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}
.hj {
  position: relative;
  width: 6.16rem;
  /*  height: 3.88rem;*/
  /* position: absolute;*/
  z-index: 99999;
  display: none;
  background-color: #2c033e;
  border-radius: 14px;
  /*  border: 1px solid #a300ef;*/
}
.hj .close-btn {
  width: .4rem;
  position: absolute;
  right: -1px;
  top: -8px;
}
.info {
  position: absolute;
  display: none;
  z-index: 99999;
  width: 6.16rem;
  height: 2.02rem;
  background-color: #2c033e;
  border-radius: 14px;
  border: 1px solid #a300ef;
  left: 34px;
}
.info span {
  display: block;
  text-align: center;
  color: #bf1cff;
  font-size: 0.28rem;
  margin-top: 0.3rem;
}
.info img {
  width: 1.87rem;
  display: block;
  margin: 0 auto;
  padding-top: 0.4rem;
}
#wrapper {
  display: block;
  z-index: 9999;
  width: 6.16rem;
  height: 170px;
  overflow: hidden;
  position: relative;
  border-radius: 14px;
  background-color: #2c033e;
  border: 1px solid #a300ef;
  top: -800px;
  left: 28px;
}
#wrapper .hj-info {
  display: block;
  margin-top: 7px;
  height: 0.6rem;
  width: 100%;
  color: #bf1cff;
  font-size: 0.28rem;
  line-height: 0.6rem;
}
#wrapper .fr {
  margin-right: 0.34rem;
}
#wrapper .fl {
  margin-left: 0.34rem;
}
