html,
body {
  background-color: #fff;
}
header {
  height: 5.94rem;
  width: 100%;
  background-color: #F1F1F1;
  margin: 0 auto;
}
header img {
  margin: 0 auto;
  width: 1.8rem;
  height: 2.23rem;
  padding-top: 1rem;
}
header .name {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #242333;
  font-size: 0.48rem;
  margin-top: 0.4rem;
  letter-spacing: 0.15rem;
}
header .list {
  height: 0.5rem;
  padding: 0;
  margin: 0;
  margin-top: 0.05rem;
  color: #72717F;
  text-align: center;
  line-height: 0.5rem;
}
header .list span {
  line-height: 0.5rem;
  font-size: 0.36rem;
  font-weight: 400;
  display: inline-block;
  width: 0.7rem;
  text-align: center;
}
header .list i {
  font-size: 0.4rem;
  line-height: 0.5rem;
}
.little {
  margin: 0 0.34rem;
}
.little ul {
  padding: 0;
  margin: 0;
}
.little ul li {
  height: 1rem;
  line-height: 1rem;
  border-bottom: 0.01rem solid #f1f1f1;
}
.little ul li a span {
  color: #1f1f25;
  font-size: 0.28rem;
}
.little ul li a img {
  width: 0.14rem;
  height: 0.26rem;
  line-height: 1rem;
  margin-top: 0.35rem;
}
footer {
  padding-top: 2.3rem;
  margin: 0 auto;
}
footer p {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #788296;
  padding-bottom: 0.2rem;
}
footer p:nth-child(1) {
  font-size: 0.26rem;
}
footer p:nth-child(2) {
  font-size: 0.22rem;
}
